/* layout con blocchettoni */
/* debug layout*/
.debug .row {
    border: 1px solid #0a1238;
    background-color: #6f85f3;
    min-height: 4rem;

}

.debug [class^="col"] {
    border: 1px solid #414413;
    background-color: #ceda2e;
    min-height: 2rem;
}

.debug section {
    border: 1px dashed rgb(133, 243, 219);
    background-color: rgb(36, 184, 60);
}

.debug .container {
    border: 1px solid #6c36b4;
}

.debug .div {
    border: 1px dashed rgb(216, 234, 241)
}

/* layout */

/* TODO: CAPIRE COME CENTRARE IMG E DESCRIZIONE SEZIONE ITTAKESTWO */

/* header */

header {
    position: sticky;
    top: 0;
    left: 0;
}

header #logo-sony {
    width: 5rem;
}

header .fa-bars {
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    color: #737373;
    padding: 10px;

}

header ul li {
    opacity: 0.7;
}

header ul li:hover {
    opacity: 1;
}

header nav img {
    height: 2rem;
}

header .btn-secondary {
    background-color: #363636;
}

/* jumbotron */


#jumbotron {
    background-image: url("../images/jumbo-bg.png");
}

#jumbotron,
#it-takes-two {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    max-height: 100%;
    color: #fff;
}

#jumbotron img {
    max-height: 3.5rem;
    margin-top: 5rem;
}


#jumbotron .btn-danger {
    background-color: #CD3D0F;
}

/* select preview */

#select-preview img,
#new img,
#explore img {
    max-width: 100%;
}

#select-preview .active {
    border: 2px solid #0072CE;
    border-radius: 1rem;
}

/* play station 5 overview */

#ps5-overview .active {
    border-bottom: 2px solid #0072CE;
}

#ps5-overview .fa-trademark,
#new .fa-trademark {
    font-size: xx-small;
    position: relative;
    bottom: 2px;
    right: 4px;
}

/*  it takes two section */

#it-takes-two {
    background-image: url("../images/it-takes-two-hero-banner-desktop.jpg");

}

/* new */
/* explore */
#explore .fa-registered {
    font-size: small;
    position: relative;
    bottom: 13px;
    right: 2px;
}

/* play station plus */
#ps-plus {
    background-color: #BEBCBB;
}

#ps-plus .btn-custom {
    background-color: #D9DADC;
    color: #2D64E6;
    border: none;
    padding: 0.6rem;
}

/* play station now */

#ps-now {
    background-color: #161C3B;
}

/* footer */
footer {
    background-color: #00439C;
}

footer #sie-logo {
    max-width: 150px;
}